<div class="jumbotron topHeader">
  <div class="container text-center">
    <div class="center-block">
      <h1 class="brownText">{{ pageName }}</h1>
      <p> {{ pageDesc }} </p>
      <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>-->
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6 grapdesign" *ngFor="let g of graphics | keys; let d = index">
      <div class="images">
        <img src="{{getFullImage(g?.value?.fullLink)}}" class="img-responsive" />
      </div>
      <h3> {{g?.value?.name}} </h3>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" (click)="myIndex=d;"><i class="fa fa-search-plus"></i> View Project
      </button>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" *ngIf="graphics">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="modal-title" id="myModalLabel">{{graphics[myIndex]?.name}}</h2>
        </div>
        <div class="modal-body">
          <div *ngIf="graphics[myIndex]?.live">
            <h1>Project Description</h1>
            <p>{{ graphics[myIndex]?.description }} Here are some screenshots from the project.</p>
            <a href="{{getFullImage(graphics[myIndex]?.live)}}" role="button" class="btn btn-primary btn-lg">Launch Project <i class="fa fa-arrow-right"></i></a>
          </div>
          <div *ngIf="graphics[myIndex]?.video">
            <p>{{ graphics[myIndex]?.description }} Here are some screenshots from the project.</p>
            <video width="720" height="480" controls #video>
              <source type="video/mp4" #source [src]="getFullVideo(myIndex)"> Your browser does not support the video tag.
            </video>
          </div>
          <!--<div class="col-sm-12 col-xs-12" *ngFor="let p of graphics[myIndex]?.picture; let x = index" [ngClass]="{'col-lg-12 col-md-12': graphics[myIndex]?.picture.length>1, 'col-lg-6 col-md-6': graphics[myIndex]?.picture.length>1}"><img [src]="getFullImage(graphics[myIndex]?.picture[x])" class="img-responsive center-block" style="max-width: auto; max-height: 100%;"/></div>-->
          <br/>
          <br/>
          <h1>Screenshots</h1>
          <div class="item" *ngFor="let p of graphics[myIndex]?.picture; let x = index">
            <img [src]="getFullImage(graphics[myIndex]?.picture[x])" alt="{{u}}" class="imgsg">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="stopVideo()">Close</button>
        </div>
      </div>
    </div>
  </div>
