$gold: #D0992A;
$brown: #46310f;
$white: #ffffff;
$gray: #f1f1f1;

.main{
	margin-bottom: 30px !important;
	height: 435px !important;
}

.brownText{
	color: $brown !important;
}

.headerImage{
	padding: 100px;
	//background: $gray;
	background:
	linear-gradient( 
  	rgba(255, 255, 255, 0.75),
  	rgba(208, 153, 42, 0.75)
  ),
	url('../../assets/img/bg2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 65%;
	color: $brown;
}


.images{
	cursor: pointer;
}

.images img{
	object-fit: cover;
	width: 100%;
	height: 300px;
}

.grapdesign{
	margin-bottom: 40px;
}

.content{
	width: 80%;
	margin: 15% auto;
	// border: 1px solid $gold;
	padding: 10px;
	background: $white;
	box-shadow: 4px 4px 6px #e1e1e1;
}

.ints{
	min-height: 400px;
	border: 10px solid #ffffff;
}

// styles for mobile
@media screen and (max-width: 988px) {
    .content{
    	margin: 18% auto;
    }
}