<div class="jumbotron animated fadeIn headerImage">
  <div class="container text-center">
    <h1 class="brownText">Web Applications</h1>
    <h2>Web Applications &amp; eLearning Solutions</h2>
  </div>
</div>
<div class="container animated fadeIn">
  <div class="row">
    <div class="main col-sm-12 col-xs-12 col-md-6 col-lg-6 grapdesign" *ngFor="let n of interactives | keys; let i = index">
      <div class="images">
        <img src="{{getImage(n?.value?.picture[0].name)}}" class="img-responsive" />
      </div>
      <div class="text-center">
        <h3> {{n?.value?.name}} </h3>
        <button (click)="Index=i" target="_blank" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal1">Learn more <i class="fa fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1Label" data-backdrop="true" *ngIf="interactives" data-keyboard="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="myModalLabel">{{interactives[Index]?.name}}</h2>
      </div>
      <div class="modal-body">
        <div *ngIf="interactives[Index]?.name">
          <h1>Project Description</h1>
          <p>{{ interactives[Index]?.description }} Here are some screenshots from the project.</p>
          <p><a href="{{interactives[Index]?.links}}" role="button" class="btn btn-primary btn-lg" target="_blank">Launch Project <i class="fa fa-arrow-right"></i></a> <a *ngIf="interactives[Index]?.pdf" href="getFullImage(interactives[Index]?.pdf)" role="button" class="btn btn-primary btn-lg" target="_blank">View Pdf <i class="fa fa-arrow-right"></i></a></p>
        </div>
        <!--<div class="ints col-md-6 col-lg-6 col-sm-12 col-xs-12" *ngFor="let z of interactives[Index]?.picture; let u = index"  [ngStyle]="{'background-image': 'url(' + getImage(interactives[Index]?.picture[u]) + ')', 'background-size': 'cover'}"></div>-->
        <br/>
        <br/>
        <h1>Screenshots</h1>
        <div class="item" *ngFor="let z of interactives[Index]?.picture; let u = index">
          <div class="well warning"> <b>{{u+1}})  {{interactives[Index]?.picture[u].desc}}</b> </div>
          <img [src]="getImage(interactives[Index]?.picture[u].name)" alt="{{u}}" class="imgs">
          <br/>
          <br/>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
