.circles{
	border-radius: 100px;
	width: 100px;
	height: 100px;
	display: inline;
	padding: 20px;
	margin: 10px;
	cursor: default;
	border: none;
	text-align: center;
}


.homeJumbo{
	height: 550px;
}

.contact{
	width: 100%;
	height: auto;
	padding: 30px;
}

#mainSlideshow, .carousel-inner{
	height: 600px !important;
}
