// colors
$gold: #D0992A;
$brown: #46310f;
$white: #ffffff;
$gray: #f1f1f1;


.circles{
	border-radius: 100px;
	width: 100px;
	height: 100px;
	display: inline;
	padding: 20px;
	margin: 10px;
	cursor: default;
	border: none;
	text-align: center;
}


.homeJumbo{
	height: 550px;
}

.contact{
	width: 100%;
	height: auto;
	background: $gray;
}

#mainSlideshow, .carousel-inner{
	height: 600px !important;
}

.golds{
	background: $gray;
}

.goldIcon{
	color: $gold;
//font-size: 6em !important;
}

.skillsIcon{
color: $brown;
font-size: 6em !important;
}

.item{
	width: 100%;
	height: 100%;
}

.goldarea{
	background: $white;
}

.goldArea{
	background: $gold;
	color: $white;
}

.brownText{
	color: $brown !important;
}

.goldAreaBrown{
	background: $gold;
	color: $brown;
}

.brownArea{
	background: $brown;
	color: $gold;
}

.grayArea{
	background: $gray;
	color: $brown;
}