// colors
$gold: #C4882B;
$brown: #46310f;
$white: #ffffff;
$gray: #f1f1f1;


.circles{
	border-radius: 100px;
	width: 100px;
	height: 100px;
	display: inline;
	padding: 20px;
	margin: 10px;
	cursor: default;
	border: none;
	text-align: center;
}


.homeJumbo{
	height: 550px;
}

.contact{
	width: 100%;
	height: auto;
	background: $gray;
}

#mainSlideshow, .carousel-inner{
	height: 600px !important;
}

.golds{
	background: $white;
}

.item{
	width: 100%;
	height: 100%;
}

.goldarea{
	background: $gold;
}